<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.L3_1team.health.mybatis.admin.admin_mstatistics_userMapper">

	<select id="gender" parameterType="int" resultType="int">
		select NVL(count(*),0) from users where u_gender = #{value}
	</select>

	<select id="age" parameterType="hashmap" resultType="int">
		select NVL(count(*),0) from users where u_birth between #{age2} and #{age1}
	</select>

	<select id="trainergender" parameterType="int" resultType="int">
		select NVL(count(*),0) from trainers where t_gender = #{value}
	</select>

	<select id="trainerage" parameterType="hashmap" resultType="int">
		select NVL(count(*),0) from trainers where t_birth between #{age2} and #{age1}
	</select>
	
	<select id="out" parameterType="String" resultType="int">
		select NVL(count(*),0) from out where out_reason = #{value}
	</select>
</mapper>
